body {
  margin: 0 auto;
}
.Ocultar {
  display: none;
}
/* header */
.headerOraculoMistico {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: solid 1px grey;
}
.container-fluid h1 {
  padding-left: 10vw;
}
.jugadores {
  padding-top: 30px;
}
/* jugadores */
.jugadores input {
  margin-bottom: 15px;
}
.boton {
  display: flex;
  justify-content: center;
}
/* Esperando */
.espera {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #e5eef2;
}
.espera img {
  height: 40vh;
}
/* carta */
.cartas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10vw;
  width: 80vw;
  border: 1px solid #000;
}
.cartas img {
  width: 100%;
}
.cartas h3 {
  padding-top: 10px;
}
.cartas p {
  padding: 0px 10px 0px 10px;
}

/* Cerrar carta */
.cerrar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content:flex-end;
  top: 5px;
  right: 5px;
}
